<div class="home">
<pre>

{
  <span>name</span> : "<span>Jason Kuan</span>",
  <span>github</span> : "<a href="https://github.com/jsonkuan"><span>@jsonkuan</span></a>",
  <span>linkedin</span> : "<a href="https://linkedin.com/in/jsonkuan"><span>@jsonkuan</span></a>",
  <span>email</span> : "<a href="mailto:jsonkuan@gmail.com"><span>jsonkuan@gmail.com</span></a>",
  <span>View</span>: [
      <a href="#!/projects">Projects</a>,
      <a href="images/resume.png"><span>My Resume</span></a>,
      <a href="#!/fortunummer">Fortunummer</a>
  ]
}
</pre>
</div>


