<div class="home" ng-controller="HomeController">
<pre id="json-content">


{
  <span>name</span> : "<span id="my-name" typed-effect text="'Jason Kuan'" blink="false" speed="160"></span>",
  <span>github</span> : "<a href="https://github.com/jsonkuan"><span typed-effect text="'@jsonkuan'" blink="false" delay="2000" speed="150"></span></a>",
  <span>linkedin</span> : "<a href="https://linkedin.com/in/jsonkuan"><span typed-effect text="'@jsonkuan'" blink="false" delay="4000" speed="50"></span></a>",
  <span>email</span> : "<a href="mailto:jsonkuan@gmail.com"><span typed-effect text="'jsonkuan@gmail.com'" blink="false" delay="4700" speed="50"/></a>",
  <span>View</span>: [
      <a href="#!/projects" typed-effect text="'My Apps'" blink="false" delay="5700" speed="50"></a>,
      <a href="#!/resume" typed-effect text="'My Resume'" blink="false" delay="6300" speed="50"></a>,
      <span id="fortunummerToggle" ng-click="x()" typed-effect text="'FortuNummer'" delay="6800" speed="50"></span>
  ]
}
</pre>
</div>


