<div class="home" ng-controller="HomeController">
<pre id="json-content">


{
  <span>name</span> : "<span id="my-name">Jason Kuan</span>",
  <span>github</span> : "<a href="https://github.com/jsonkuan"><span>@jsonkuan</span></a>",
  <span>linkedin</span> : "<a href="https://linkedin.com/in/jsonkuan"><span>@jsonkuan</span></a>",
  <span>email</span> : "<a href="mailto:jsonkuan@gmail.com"><span>jsonkuan@gmail.com</span></a>",
  <span>View</span>: [
      <a href="#!/projects">My Apps</a>,
      <a href="#!/resume"><span>My Resume</span></a>,
      <span id="fortunummerToggle" ng-click="x()">Your Fortunummer</span>
  ]
}
</pre>
</div>


