
.muted,footer,hr:after,time,aside{color:#90908a}

h1{box-shadow: 0 0.1rem 0 #f8f8f0; color:#FFFFFF}

body{font-family:Menlo,monospace;background-color:#FFFFFF;font-size:22px;padding:5rem 0 0 0;margin:0}

header{position:fixed;top:0;left:0;width:100%;height:5rem;padding:0;margin:0;text-align:center;background-color:#272822;box-shadow:0 1rem 1rem #272822}
footer{padding:2rem;text-align:center}
section{padding-left:5rem;}

p{max-width:1200px;padding:0 1rem;margin-left:auto;margin-right:auto;line-height:2rem}

pre{font-family:Menlo,"Liberation Mono",Menlo,Courier,monospace;font-color:#000000; overflow:auto;margin:1rem 0}

kbd{color:#a6e22e}

a{color:#C41A16;text-decoration:none}
a:hover{color:#0E0EFF}

.text-center{text-align:center}
.flex-justify{display:flex;flex-wrap:wrap;justify-content:space-between}
.home{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.home pre{margin-top:2rem;display:inline-block;text-align:left;line-height:2rem;overflow:auto}
.highlight{margin:0;padding:1rem;background-color:#31322c}
.highlight pre{max-width:1200px;padding:0 1rem;margin-left:auto;margin-right:auto}





.class{color:#AA0D91}
.otherClass{color:#5C2699} 
.strings{color:#C41A16}
.comments{color:#007400} 
.urls{#0E0EFF}
.json{color:#1C00CF}
.projectClassName{color:#3F6E74} 
