/* General */ 

body{
    background-color:#272822;
    color:#f8f8f0;
    font-size: 3.0vw;
    padding:0 0 0 0;
    margin:0
}

pre, a, span, label{
    font-family: Menlo,Courier,monospace;
}

a, span#my-name, span#fortunummerToggle {
    color:#66d9ef;
    text-decoration:none
}

a:hover, span#fortunummerToggle:hover {
    color:#f92672
}

#back-home{
    height: 10%;
    width:10%; 
    float: right;
    position: absolute;
    right: 0;
    z-index: 1;
}

/* HOME PAGE */ 
.text-center{
    text-align:center
}

.flex-justify {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
}

.home {
    position:absolute;
    background-image: url("images/imac.png");
    background-position: center center;
    background-size: 95%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}

.home pre {
    position: absolute; 
    text-align:left;
    overflow:auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 32% 0;
}

.highlight {
    margin:0;
    padding:1rem;
    background-color:#31322c
}

.highlight pre {
    max-width:1200px;
    padding:0 1rem;
    margin-left:auto;
    margin-right:auto
}
/* Resume - CV */

#resume-img {
    height: 70%;
    width: 70%;
    margin-top: 10%;
    position: relative; 
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px; 
}

/* Directive */
#projects {
    position:absolute;
}

.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Forms */ 
h1#fortunummer {
    position: absolute;
    margin-left: 5%;
    color: white; 
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 3em;
    z-index: 1;
} 

main#content {
    position: fixed; 
}

form#pnum-form{
    display: none;
}

.form-position {
    margin-left: 50%;
    width: 250px;
    margin-top: -50%;
    transform: translate(-50%);
}

input#input {
    margin-left:50%;
    transform: translate(-50%);
}

button#eightball-button {
    background: transparent;
    border: none; 
    margin-left: 50%;
    margin-top: 20px;
    transform: translate(-50%);
}

button#eightball-button:hover {
    border-style: inset;
    border-radius: 40px;
}

form {
    color: black;
    text-align: center;
}

pre#form-result {
    text-align: left;
    display: none;
    position: absolute;
    text-align: left;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    padding: 0 0 32% 0;
    font-size: 2.5vw;
    color: white;
}

pre > span {
    color: #FF5D5D;
}


/*Parallax Effect */
[class*="bg__"] {
    height: 50vh;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

div[class*="bg__"]{
    border: solid;
    margin-bottom: 15px;
}

.parallax [class*="bg__"] {
    position: relative;
    height: 50vh;
    text-indent: -9999px;
    background-attachment: fixed;
    background-position: top center;
}

.bg__red {
    background-size: cover;
    background-image: url(
    "images/ahmad-dirini-176494.jpg "
    );
}

.bg__purple{
    background-size: cover;
    background-image: url(
    "images/purple.png "
    );
}

.bg__paper{
    background-size: 50%;
    background-image: url(
    "images/paper.png"
    );
}

.footer-image {
    width: 50%;
    position: absolute;
    transform: translate(-50%);
} 



