
.muted,footer,hr:after,time,aside{color:#90908a}

h1{box-shadow: 0 0.1rem 0 #f8f8f0; color:#FFFFFF}

header{position:fixed;top:0;left:0;width:100%;height:5rem;padding:0;margin:0;text-align:center;background-color:#272822;box-shadow:0 1rem 1rem #272822}
footer{padding:2rem;text-align:center}
section{padding-left:5rem;}

body{font-family:Menlo;background-color:#FFFFFF;font-size:22px;padding:5rem 0 0 0;margin:0}
pre{font-family:Menlo;font-color:#007400; overflow:auto;margin:1rem 0}

a{color:#1C4BB6;text-decoration:none}
a:hover{color:#0E0EFF}


.home{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.home pre{font-family: Menlo; font-color:#700400; margin-top:2rem;display:inline-block;text-align:left;line-height:2rem;overflow:auto}

.element0{color:#C41A16}.element0:hover{color:#0E0EFF}
.element1{color:#C41A16}.element1:hover{color:#0E0EFF}

.class{color:#AA0D91}
.otherClass{color:#5C2699} 
.strings{color:#C41A16}
.comments{color:#007400} 
.urls{#0E0EFF}
.json{color:#1C4BB6}

